numpy
scipy
pandas
scikit-image
scikit-learn
tensorflow
torch
jupyter
ipykernel
joblib
zarr
matplotlib
PyWavelets
tqdm
umap-learn==0.3.9
openpyxl
seaborn
tifffile
sphinxcontrib-napoleon
sphinx-rtd-theme
MulticoreTSNE
