numpy
scipy
pandas
scikit-image
scikit-learn
tensorflow
--pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
jupyter
ipykernel
joblib
zarr
matplotlib
PyWavelets
tqdm
umap-learn
openpyxl
seaborn
tifffile
